<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="RestaurantDB"
			 connectionString="Data Source=DESKTOP-LSEMTND\SQLEXPRESS;Initial Catalog=RestaurantManagement_Lab6_7;Integrated Security=True;"/>
	</connectionStrings>
</configuration>
